body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: rgb(220, 220, 213);
}

.task-container {
  margin: 50px auto;
  padding: 30px;
  background-color: white;
  border-radius: 8px;
  box-shadow:
    5px 5px 15px 5px #ff8080,
    -9px 5px 15px 5px #ffe488,
    -7px -5px 15px 5px #8cff85,
    12px -5px 15px 5px #80c7ff,
    12px 10px 15px 7px #e488ff,
    -10px 10px 15px 7px #ff616b,
    -10px -7px 27px 1px #8e5cff,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  max-width: 500px;
  text-align: center;
}

.hidden {
  display: none;
}

h1 {
  text-align: left;
  padding-left: 12px;
  color: grey;
}

.hint {
  color: rgba(128, 128, 128, 0.362);
  margin-top: 50px;
}

input {
  width: 80%;
  padding: 8px 13px;
  border-radius: 6px;
  border: 1px solid rgba(128, 128, 128, 0.362);
}

button {
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid rgba(128, 128, 128, 0.362);
  padding: 8px 13px;
  /* border: 5px solid transparent; */
}

button:hover {
  cursor: pointer;
  color: #e488ff;
}

.task-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.362);
  padding: 0 10px;
  margin-top: 20px;
  font-size: 14px;
}
